# API
fastapi==0.124.0
uvicorn[standard]==0.38.0
gunicorn==23.0.0
python-multipart==0.0.20
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.3.0
python-dotenv==1.2.1

# Base de datos
SQLAlchemy==2.0.44
PyMySQL==1.1.2
cryptography==46.0.3   # necesario para la autenticación por defecto de MySQL 8

# Seguridad
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
